.weatherDetailsContainer h1 {
  color: #fff;
  line-height: 1.2;
}

.weatherDetailsContainer p {
  color: #fff;
}

.currentConditions {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background: #979aaa;
  border-radius: 4px;

  @media screen and (max-width: 400px) {
    display: block;
  }
}

.currentConditions p {
  margin: 5px;
  font-size: 24px;
  font-weight: 700;
}

.currentConditions p:first-of-type {
  @media screen and (max-width: 400px) {
    margin-top: -10px;
  }
}

.currentConditions img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.moreDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.moreDetails > div {
  display: flex;
  background: #979aaa;
  border-radius: 4px;
  padding: 10px 15px;
}

.moreDetails img {
  width: 20px;
  margin-right: 10px;
}

.moreDetails div p {
  font-size: 14px;
  margin: 0;
}

.moreDetails div p:first-of-type {
  font-weight: 700;
}

.lastUpdated {
  margin-top: 20px;
  font-size: 12px;
}